In [1]:
import kaggle

! kaggle competitions download -c tabular-playground-series-sep-2022

Downloading tabular-playground-series-sep-2022.zip to C:\Users\nagul\Desktop\Python Work

  0%|          | 0.00/615k [00:00<?, ?B/s]
100%|##########| 615k/615k [00:00<00:00, 5.04MB/s]
100%|##########| 615k/615k [00:00<00:00, 5.04MB/s]

# IMPORTING LIBRARIES AND DATA

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import xgboost as xgb

In [4]:
df_train=pd.read_csv("C:/Users/nagul/Desktop/Python Work/tabular-playground-series-sep-2022/train.csv")
df_test=pd.read_csv("C:/Users/nagul/Desktop/Python Work/tabular-playground-series-sep-2022/test.csv")

# SOME EXPLORATORY ANALYSIS

In [39]:
df_train.tail()

,row_id,date,country,store,product,num_sold
70123,70123,2020-12-31,Spain,KaggleMart,Kaggle for Kids: One Smart Goose,614
70124,70124,2020-12-31,Spain,KaggleRama,Kaggle Advanced Techniques,215
70125,70125,2020-12-31,Spain,KaggleRama,Kaggle Getting Started,158
70126,70126,2020-12-31,Spain,KaggleRama,Kaggle Recipe Book,135
70127,70127,2020-12-31,Spain,KaggleRama,Kaggle for Kids: One Smart Goose,202

In [10]:
print("Original training set has this many rows:", df_train.shape[0])
print("Original training set has this many columns:", df_train.shape[1])

Original training set has this many rows: 70128
Original training set has this many columns: 6

In [17]:
df_train.describe(include="all")

,row_id,date,country,store,product,num_sold
count,70128.000000,70128,70128,70128,70128,70128.000000
unique,NaN,1461,6,2,4,NaN
top,NaN,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,NaN
freq,NaN,48,11688,35064,17532,NaN
mean,35063.500000,NaN,NaN,NaN,NaN,194.296986
std,20244.354176,NaN,NaN,NaN,NaN,126.893874
min,0.000000,NaN,NaN,NaN,NaN,19.000000
25%,17531.750000,NaN,NaN,NaN,NaN,95.000000
50%,35063.500000,NaN,NaN,NaN,NaN,148.000000
75%,52595.250000,NaN,NaN,NaN,NaN,283.000000
max,70127.000000,NaN,NaN,NaN,NaN,986.000000

In [76]:
print(df_train["product"].value_counts())
print(df_train["country"].value_counts())
print(df_train["store"].value_counts())

Kaggle Advanced Techniques          17532
Kaggle Getting Started              17532
Kaggle Recipe Book                  17532
Kaggle for Kids: One Smart Goose    17532
Name: product, dtype: int64
Belgium    11688
France     11688
Germany    11688
Italy      11688
Poland     11688
Spain      11688
Name: country, dtype: int64
KaggleMart    35064
KaggleRama    35064
Name: store, dtype: int64

In [24]:
print(df_train.isna().sum())
print("\n",df_train.dtypes)

row_id      0
date        0
country     0
store       0
product     0
num_sold    0
dtype: int64

 row_id       int64
date        object
country     object
store       object
product     object
num_sold     int64
dtype: object

In [38]:
df_train[df_train.isna().any(1)]

Empty DataFrame
Columns: [row_id, date, country, store, product, num_sold]
Index: []

In [42]:
df_train["date"] = pd.to_datetime(df_train["date"],format="%Y-%m-%d")
df_train.dtypes

row_id               int64
date        datetime64[ns]
country             object
store               object
product             object
num_sold             int64
dtype: object

In [43]:
df_train["dayofweek"]=df_train["date"].dt.day_name()
df_train["month"]=df_train["date"].dt.month_name()

df_train.head()

,row_id,date,country,store,product,num_sold,dayofweek,month
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663,Sunday,January
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615,Sunday,January
2,2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480,Sunday,January
3,3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710,Sunday,January
4,4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240,Sunday,January

In [45]:
modified_training_df=df_train.drop(columns=["row_id","date"],axis=1).copy()
modified_training_df.head()

,country,store,product,num_sold,dayofweek,month
0,Belgium,KaggleMart,Kaggle Advanced Techniques,663,Sunday,January
1,Belgium,KaggleMart,Kaggle Getting Started,615,Sunday,January
2,Belgium,KaggleMart,Kaggle Recipe Book,480,Sunday,January
3,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710,Sunday,January
4,Belgium,KaggleRama,Kaggle Advanced Techniques,240,Sunday,January

In [51]:

X_encoded=pd.get_dummies(modified_training_df,
                         columns=["country","store","product",
                                  "dayofweek","month"])
y=X_encoded["num_sold"]
X_encoded=X_encoded.drop(columns=["num_sold"],axis=1)
X_encoded.head()

,country_Belgium,country_France,country_Germany,country_Italy,country_Poland,country_Spain,store_KaggleMart,store_KaggleRama,product_Kaggle Advanced Techniques,product_Kaggle Getting Started,...,month_December,month_February,month_January,month_July,month_June,month_March,month_May,month_November,month_October,month_September
0,1,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0

In [92]:
for columns in X_encoded:
    #print(X_encoded.columns.value_counts())
    print(X_encoded[columns].value_counts())

0    58440
1    11688
Name: country_Belgium, dtype: int64
0    58440
1    11688
Name: country_France, dtype: int64
0    58440
1    11688
Name: country_Germany, dtype: int64
0    58440
1    11688
Name: country_Italy, dtype: int64
0    58440
1    11688
Name: country_Poland, dtype: int64
0    58440
1    11688
Name: country_Spain, dtype: int64
1    35064
0    35064
Name: store_KaggleMart, dtype: int64
0    35064
1    35064
Name: store_KaggleRama, dtype: int64
0    52596
1    17532
Name: product_Kaggle Advanced Techniques, dtype: int64
0    52596
1    17532
Name: product_Kaggle Getting Started, dtype: int64
0    52596
1    17532
Name: product_Kaggle Recipe Book, dtype: int64
0    52596
1    17532
Name: product_Kaggle for Kids: One Smart Goose, dtype: int64
0    60144
1     9984
Name: dayofweek_Friday, dtype: int64
0    60096
1    10032
Name: dayofweek_Monday, dtype: int64
0    60144
1     9984
Name: dayofweek_Saturday, dtype: int64
0    60096
1    10032
Name: dayofweek_Sunday, dtype: int64
0    60096
1    10032
Name: dayofweek_Thursday, dtype: int64
0    60096
1    10032
Name: dayofweek_Tuesday, dtype: int64
0    60096
1    10032
Name: dayofweek_Wednesday, dtype: int64
0    64368
1     5760
Name: month_April, dtype: int64
0    64176
1     5952
Name: month_August, dtype: int64
0    64176
1     5952
Name: month_December, dtype: int64
0    64704
1     5424
Name: month_February, dtype: int64
0    64176
1     5952
Name: month_January, dtype: int64
0    64176
1     5952
Name: month_July, dtype: int64
0    64368
1     5760
Name: month_June, dtype: int64
0    64176
1     5952
Name: month_March, dtype: int64
0    64176
1     5952
Name: month_May, dtype: int64
0    64368
1     5760
Name: month_November, dtype: int64
0    64176
1     5952
Name: month_October, dtype: int64
0    64368
1     5760
Name: month_September, dtype: int64

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X_encoded,y,random_state=42)

In [98]:
X_train

,country_Belgium,country_France,country_Germany,country_Italy,country_Poland,country_Spain,store_KaggleMart,store_KaggleRama,product_Kaggle Advanced Techniques,product_Kaggle Getting Started,...,month_December,month_February,month_January,month_July,month_June,month_March,month_May,month_November,month_October,month_September
54452,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
54669,0,0,0,0,0,1,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
62222,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
69056,0,0,0,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
12792,0,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37194,0,0,0,0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6265,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
54886,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
860,0,0,0,0,0,1,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
15795,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

[663,
 615,
 480,
 710,
 240,
 187,
 158,
 267,
 610,
 463,
 407,
 672,
 220,
 172,
 140,
 255,
 700,
 562,
 460,
 826,
 240,
 204,
 163,
 282,
 497,
 404,
 346,
 534,
 190,
 149,
 124,
 187,
 222,
 186,
 146,
 236,
 79,
 63,
 50,
 92,
 447,
 364,
 313,
 451,
 159,
 123,
 113,
 181,
 514,
 408,
 342,
 601,
 187,
 158,
 119,
 196,
 455,
 364,
 286,
 506,
 159,
 131,
 101,
 180,
 537,
 410,
 355,
 594,
 185,
 145,
 134,
 214,
 391,
 330,
 245,
 409,
 135,
 101,
 85,
 152,
 161,
 135,
 102,
 199,
 55,
 45,
 40,
 67,
 339,
 266,
 236,
 379,
 124,
 104,
 74,
 123,
 549,
 425,
 334,
 515,
 172,
 131,
 120,
 188,
 465,
 362,
 252,
 433,
 155,
 114,
 101,
 161,
 510,
 415,
 338,
 558,
 193,
 127,
 119,
 191,
 336,
 268,
 245,
 361,
 128,
 95,
 91,
 127,
 172,
 121,
 107,
 171,
 60,
 47,
 35,
 61,
 320,
 271,
 211,
 335,
 113,
 87,
 69,
 125,
 477,
 384,
 328,
 517,
 177,
 134,
 115,
 169,
 465,
 311,
 281,
 460,
 152,
 119,
 102,
 163,
 417,
 403,
 327,
 524,
 181,
 133,
 114,
 182,
 337,
 279,
 234,
 367,
 115,
 95,
 83,
 115,
 160,
 115,
 104,
 167,
 51,
 37,
 35,
 55,
 302,
 260,
 201,
 316,
 114,
 84,
 74,
 110,
 447,
 371,
 268,
 480,
 150,
 129,
 101,
 169,
 385,
 323,
 259,
 402,
 150,
 114,
 97,
 164,
 484,
 350,
 291,
 540,
 157,
 132,
 115,
 155,
 315,
 246,
 212,
 391,
 116,
 100,
 69,
 119,
 136,
 109,
 92,
 155,
 49,
 38,
 32,
 53,
 285,
 248,
 184,
 271,
 99,
 72,
 67,
 104,
 431,
 326,
 266,
 486,
 163,
 119,
 109,
 165,
 399,
 307,
 274,
 429,
 140,
 108,
 83,
 148,
 492,
 346,
 334,
 485,
 161,
 127,
 102,
 167,
 346,
 249,
 215,
 350,
 120,
 91,
 85,
 146,
 152,
 121,
 92,
 157,
 51,
 35,
 34,
 49,
 316,
 237,
 198,
 319,
 102,
 75,
 63,
 113,
 447,
 374,
 351,
 520,
 166,
 122,
 112,
 169,
 387,
 326,
 279,
 431,
 151,
 122,
 89,
 150,
 477,
 356,
 333,
 479,
 138,
 127,
 109,
 178,
 383,
 277,
 223,
 368,
 121,
 99,
 81,
 122,
 157,
 120,
 103,
 154,
 55,
 40,
 34,
 55,
 331,
 223,
 204,
 368,
 109,
 82,
 70,
 99,
 497,
 341,
 310,
 480,
 169,
 132,
 100,
 173,
 387,
 308,
 281,
 485,
 140,
 111,
 97,
 155,
 464,
 373,
 332,
 480,
 158,
 128,
 113,
 194,
 328,
 265,
 262,
 401,
 134,
 102,
 82,
 137,
 153,
 116,
 103,
 171,
 55,
 40,
 35,
 58,
 316,
 261,
 219,
 352,
 107,
 86,
 62,
 112,
 359,
 286,
 236,
 368,
 137,
 98,
 86,
 146,
 311,
 274,
 213,
 330,
 125,
 86,
 72,
 124,
 400,
 307,
 242,
 403,
 126,
 107,
 95,
 146,
 345,
 257,
 182,
 298,
 106,
 81,
 68,
 111,
 122,
 103,
 80,
 145,
 43,
 36,
 29,
 50,
 258,
 193,
 179,
 293,
 93,
 74,
 60,
 95,
 384,
 291,
 260,
 402,
 128,
 102,
 79,
 136,
 291,
 250,
 204,
 344,
 108,
 88,
 77,
 119,
 358,
 289,
 221,
 394,
 134,
 103,
 86,
 137,
 306,
 244,
 216,
 305,
 114,
 80,
 71,
 117,
 133,
 98,
 87,
 146,
 45,
 33,
 27,
 47,
 288,
 210,
 168,
 283,
 90,
 66,
 60,
 95,
 379,
 265,
 232,
 390,
 128,
 93,
 84,
 133,
 310,
 235,
 181,
 345,
 118,
 87,
 70,
 118,
 369,
 306,
 228,
 368,
 137,
 96,
 86,
 130,
 332,
 215,
 199,
 331,
 108,
 81,
 67,
 108,
 130,
 101,
 86,
 127,
 48,
 35,
 30,
 44,
 292,
 200,
 183,
 277,
 90,
 70,
 57,
 100,
 386,
 289,
 253,
 402,
 134,
 92,
 83,
 140,
 334,
 252,
 208,
 383,
 108,
 82,
 68,
 108,
 355,
 267,
 249,
 369,
 134,
 99,
 84,
 124,
 286,
 222,
 215,
 307,
 109,
 83,
 65,
 102,
 134,
 106,
 82,
 134,
 44,
 34,
 27,
 46,
 266,
 214,
 170,
 270,
 93,
 65,
 53,
 92,
 349,
 292,
 242,
 436,
 134,
 114,
 89,
 137,
 340,
 261,
 214,
 371,
 117,
 89,
 78,
 123,
 410,
 326,
 252,
 422,
 147,
 94,
 84,
 147,
 310,
 222,
 200,
 316,
 108,
 79,
 72,
 104,
 132,
 99,
 84,
 137,
 48,
 32,
 26,
 49,
 270,
 213,
 165,
 268,
 85,
 71,
 55,
 89,
 429,
 282,
 285,
 379,
 142,
 111,
 106,
 144,
 390,
 311,
 270,
 387,
 131,
 96,
 87,
 138,
 453,
 340,
 292,
 461,
 154,
 102,
 95,
 161,
 324,
 245,
 222,
 334,
 116,
 81,
 67,
 117,
 137,
 100,
 88,
 146,
 47,
 36,
 31,
 48,
 265,
 191,
 196,
 312,
 104,
 70,
 65,
 98,
 471,
 322,
 282,
 456,
 160,
 117,
 100,
 157,
 405,
 289,
 266,
 410,
 142,
 94,
 93,
 145,
 470,
 334,
 278,
 500,
 157,
 111,
 98,
 162,
 311,
 247,
 233,
 321,
 120,
 81,
 72,
 116,
 148,
 115,
 86,
 140,
 49,
 37,
 33,
 51,
 302,
 209,
 210,
 319,
 103,
 74,
 64,
 115,
 378,
 278,
 233,
 389,
 134,
 93,
 84,
 140,
 334,
 252,
 210,
 321,
 117,
 81,
 65,
 119,
 394,
 290,
 254,
 397,
 117,
 105,
 81,
 139,
 281,
 223,
 186,
 294,
 95,
 68,
 58,
 94,
 128,
 89,
 78,
 114,
 38,
 29,
 28,
 40,
 219,
 175,
 163,
 240,
 89,
 63,
 52,
 88,
 373,
 282,
 248,
 393,
 126,
 94,
 87,
 127,
 340,
 241,
 220,
 322,
 107,
 79,
 72,
 113,
 362,
 256,
 224,
 407,
 137,
 91,
 80,
 122,
 291,
 195,
 183,
 282,
 88,
 70,
 62,
 94,
 112,
 86,
 74,
 121,
 38,
 33,
 25,
 41,
 259,
 184,
 149,
 253,
 74,
 67,
 54,
 90,
 396,
 258,
 241,
 373,
 129,
 100,
 87,
 138,
 347,
 259,
 208,
 315,
 125,
 89,
 79,
 131,
 360,
 275,
 254,
 392,
 129,
 93,
 81,
 133,
 307,
 209,
 178,
 276,
 91,
 72,
 64,
 95,
 127,
 84,
 78,
 121,
 38,
 32,
 27,
 45,
 263,
 172,
 161,
 244,
 92,
 62,
 51,
 80,
 396,
 284,
 217,
 382,
 142,
 104,
 85,
 134,
 336,
 247,
 189,
 324,
 110,
 85,
 65,
 114,
 398,
 286,
 250,
 399,
 133,
 98,
 80,
 138,
 271,
 204,
 185,
 304,
 94,
 68,
 61,
 95,
 134,
 93,
 76,
 116,
 41,
 28,
 22,
 40,
 244,
 170,
 143,
 240,
 79,
 58,
 54,
 82,
 396,
 290,
 261,
 388,
 137,
 93,
 86,
 145,
 379,
 266,
 223,
 324,
 129,
 89,
 76,
 118,
 430,
 307,
 232,
 420,
 152,
 99,
 92,
 141,
 276,
 209,
 188,
 275,
 102,
 74,
 62,
 104,
 132,
 93,
 81,
 127,
 40,
 31,
 26,
 46,
 243,
 162,
 162,
 243,
 92,
 58,
 54,
 95,
 435,
 334,
 259,
 451,
 161,
 111,
 98,
 148,
 445,
 256,
 241,
 395,
 132,
 94,
 80,
 143,
 475,
 313,
 276,
 468,
 159,
 102,
 102,
 152,
 339,
 218,
 185,
 317,
 110,
 81,
 72,
 117,
 144,
 92,
 96,
 137,
 49,
 36,
 31,
 43,
 ...]