In [1]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-slugify in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\nagul\anaconda3\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\nagul\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nagul\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nagul\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: colorama in c:\users\nagul\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73049 sha256=02d4e3e97489cb987c9811bc399e180a6aec5830e1a75bc9a46a27b9fc90a16b
  Stored in directory: c:\users\nagul\appdata\local\pip\cache\wheels\ac\b2\c3\fa4706d469b5879105991d1c8be9a3c2ef329ba9fe2ce5085e
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.12
Note: you may need to restart the kernel to use updated packages.

In [115]:
import kaggle

In [116]:
! kaggle competitions download -c tabular-playground-series-aug-2022

tabular-playground-series-aug-2022.zip: Skipping, found more recently modified local copy (use --force to force download)

In [149]:
import pandas as pd
#ensure backslash is changed to forward slash when copying file path
df_train=pd.read_csv("C:/Users/nagul/Desktop/Python Work/tabular-playground-series-aug-2022/train.csv")
df_test=pd.read_csv("C:/Users/nagul/Desktop/Python Work/tabular-playground-series-aug-2022/test.csv")

In [150]:
#how many rows and columns in training and testing data?
print(df_train.shape,"is the number of rows and columns of the training data")
print(df_test.shape,"is the number of rows and columns of the testing data.One less column as there is no label")

(26570, 26) is the number of rows and columns of the training data
(20775, 25) is the number of rows and columns of the testing data.One less column as there is no label

In [151]:
df_train.describe(include="all")

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,26570.000000,26570,26320.000000,26570,26570,26570.000000,26570.000000,26570.000000,26570.000000,26570.000000,...,25343.000000,25270.000000,25102.000000,24969.000000,24796.000000,24696.000000,24561.000000,24460.000000,24286.000000,26570.000000
unique,NaN,5,NaN,2,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,C,NaN,material_7,material_8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,5765,NaN,21320,10865,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,13284.500000,NaN,127.826233,NaN,NaN,6.754046,7.240459,7.415883,8.232518,6.256568,...,11.430725,16.117711,19.172085,11.702464,15.652904,16.048444,14.995554,16.460727,701.269059,0.212608
std,7670.242662,NaN,39.030020,NaN,NaN,1.471852,1.456493,4.116690,4.199401,3.309109,...,0.999137,1.405978,1.520785,1.488838,1.155247,1.491923,1.549226,1.708935,123.304161,0.409160
min,0.000000,NaN,33.160000,NaN,NaN,5.000000,5.000000,0.000000,0.000000,0.000000,...,7.537000,9.323000,12.461000,5.167000,10.890000,9.140000,9.104000,9.701000,196.787000,0.000000
25%,6642.250000,NaN,99.987500,NaN,NaN,6.000000,6.000000,4.000000,5.000000,4.000000,...,10.757000,15.209000,18.170000,10.703000,14.890000,15.057000,13.957000,15.268000,618.961500,0.000000
50%,13284.500000,NaN,122.390000,NaN,NaN,6.000000,8.000000,7.000000,8.000000,6.000000,...,11.430000,16.127000,19.211500,11.717000,15.628500,16.040000,14.969000,16.436000,701.024500,0.000000
75%,19926.750000,NaN,149.152500,NaN,NaN,8.000000,8.000000,10.000000,11.000000,8.000000,...,12.102000,17.025000,20.207000,12.709000,16.374000,17.082000,16.018000,17.628000,784.090250,0.000000
max,26569.000000,NaN,385.860000,NaN,NaN,9.000000,9.000000,29.000000,29.000000,24.000000,...,15.412000,22.479000,25.640000,17.663000,22.713000,22.303000,21.626000,24.094000,1312.794000,1.000000

In [152]:
df_train.dtypes

id                  int64
product_code       object
loading           float64
attribute_0        object
attribute_1        object
attribute_2         int64
attribute_3         int64
measurement_0       int64
measurement_1       int64
measurement_2       int64
measurement_3     float64
measurement_4     float64
measurement_5     float64
measurement_6     float64
measurement_7     float64
measurement_8     float64
measurement_9     float64
measurement_10    float64
measurement_11    float64
measurement_12    float64
measurement_13    float64
measurement_14    float64
measurement_15    float64
measurement_16    float64
measurement_17    float64
failure             int64
dtype: object

We do not care about id as it will not help with predictions.
Loading should be a float and product_code should be an object which they are.
Attribute 0-3 should be objects as they are ATTRIBUTES. They can seem numerical but they are more like features or unranked categories. So attribute 0 and 1 are fine but 2 and 3 must be changed to object.
What we can see is that measurement 1 to 17 have correct datatypes, as does failure. Failure is a 0 or 1 value, but we want to predict probabilities of failure therefore we will keep the data type as int64.

In [153]:
df_train.astype({'product_code' : 'category','attribute_2' : 'category','attribute_3' : 'category','attribute_0' : 'category','attribute_1' : 'category'}).dtypes

id                   int64
product_code      category
loading            float64
attribute_0       category
attribute_1       category
attribute_2       category
attribute_3       category
measurement_0        int64
measurement_1        int64
measurement_2        int64
measurement_3      float64
measurement_4      float64
measurement_5      float64
measurement_6      float64
measurement_7      float64
measurement_8      float64
measurement_9      float64
measurement_10     float64
measurement_11     float64
measurement_12     float64
measurement_13     float64
measurement_14     float64
measurement_15     float64
measurement_16     float64
measurement_17     float64
failure              int64
dtype: object

Our attribute columns are now objects which is good. We have seen the size of our training data, as well as looked at what each column was.

In [154]:
df_train[df_train.isna().any(1)]

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
5,5,A,75.35,material_7,material_8,9,5,11,4,0,...,10.622,14.904,19.107,13.327,15.354,19.251,NaN,17.625,832.902,0
6,6,A,161.71,material_7,material_8,9,5,12,2,4,...,11.370,17.714,19.924,11.560,16.653,17.734,NaN,16.637,684.438,1
8,8,A,109.50,material_7,material_8,9,5,9,6,5,...,11.557,15.965,19.604,14.091,15.674,13.327,13.535,15.408,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26560,26560,E,126.63,material_7,material_6,6,9,3,15,1,...,10.551,17.820,19.687,10.510,NaN,15.712,14.733,19.311,NaN,0
26562,26562,E,108.35,material_7,material_6,6,9,6,8,3,...,11.256,17.274,22.033,NaN,16.177,15.000,15.163,15.535,935.448,0
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0

In [155]:
#replacing all NaNs with zero
df_train = df_train.fillna(0)

In [156]:
X=df_train.drop(columns=["failure","id"],axis=1).copy()
X.head()

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,20.155,10.672,15.859,17.594,15.193,15.029,0.000,13.034,14.684,764.100
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,18.288,12.715,15.607,0.000,13.798,16.711,18.631,14.094,17.946,663.376
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885

In [157]:
y=df_train["failure"].copy()
y.head()

0    0
1    0
2    0
3    0
4    0
Name: failure, dtype: int64

In [158]:
X_encoded=pd.get_dummies(X,columns=['product_code','attribute_0','attribute_1','attribute_2','attribute_3'])
X_encoded.head()

,loading,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,...,attribute_1_material_6,attribute_1_material_8,attribute_2_5,attribute_2_6,attribute_2_8,attribute_2_9,attribute_3_5,attribute_3_6,attribute_3_8,attribute_3_9
0,80.10,7,8,4,18.040,12.518,15.748,19.292,11.739,20.155,...,0,1,0,0,0,1,1,0,0,0
1,84.89,14,3,3,18.213,11.540,17.717,17.893,12.748,17.889,...,0,1,0,0,0,1,1,0,0,0
2,82.43,12,1,5,18.057,11.652,16.738,18.240,12.718,18.288,...,0,1,0,0,0,1,1,0,0,0
3,101.07,13,2,6,17.295,11.188,18.576,18.339,12.583,19.060,...,0,1,0,0,0,1,1,0,0,0
4,188.06,9,2,8,19.346,12.950,16.990,15.746,11.306,18.093,...,0,1,0,0,0,1,1,0,0,0

In [159]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_encoded,y,random_state=42,stratify=y)

In [160]:
sum(y_train)/len(y_train)

0.21262608521102022

In [161]:
sum(y_test)/len(y_test)

0.21255456871895229

In [162]:
X_test

,loading,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,...,attribute_1_material_6,attribute_1_material_8,attribute_2_5,attribute_2_6,attribute_2_8,attribute_2_9,attribute_3_5,attribute_3_6,attribute_3_8,attribute_3_9
13520,110.81,3,8,8,0.000,12.638,17.268,0.000,11.274,19.807,...,0,1,1,0,0,0,0,0,1,0
2630,94.13,7,5,7,17.378,12.092,18.233,18.461,12.086,18.255,...,0,1,0,0,0,1,1,0,0,0
2830,86.02,12,7,8,18.031,11.677,19.552,17.016,11.905,0.000,...,0,1,0,0,0,1,1,0,0,0
24755,95.27,5,10,6,17.068,11.310,16.500,17.003,12.104,18.790,...,1,0,0,1,0,0,0,0,0,1
2274,99.51,13,3,2,17.560,9.748,15.603,18.596,12.459,19.038,...,0,1,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15478,147.06,6,6,8,17.519,0.000,16.574,16.919,11.479,20.124,...,0,1,1,0,0,0,0,0,1,0
6945,128.27,4,10,7,18.724,10.554,17.095,16.020,12.077,19.778,...,0,0,0,0,1,0,0,0,1,0
18448,112.96,9,14,5,17.663,13.065,17.171,17.101,12.755,18.815,...,0,0,0,1,0,0,0,1,0,0
12085,88.45,5,13,12,16.959,11.794,16.792,18.147,11.759,19.111,...,0,1,1,0,0,0,0,0,1,0
1792,74.83,14,0,6,18.131,11.785,16.424,19.596,10.107,18.434,...,0,1,0,0,0,1,1,0,0,0

In [163]:
import xgboost as xgb
#from sklearn.metrics import eval_metrics
#first we create a shell within which we will create a forest of xgb trees
clf_xgb=xgb.XGBClassifier(objective="binary:logistic", missing =0,seed = 42,eval_metric='aucpr',early_stopping_rounds=10)
#then we create the trees
clf_xgb.fit(X_train,y_train,verbose=True,eval_set=[(X_test,y_test)])

[0]	validation_0-aucpr:0.25808
[1]	validation_0-aucpr:0.25477
[2]	validation_0-aucpr:0.25259
[3]	validation_0-aucpr:0.24930
[4]	validation_0-aucpr:0.24815
[5]	validation_0-aucpr:0.25088
[6]	validation_0-aucpr:0.25129
[7]	validation_0-aucpr:0.25179
[8]	validation_0-aucpr:0.24998
[9]	validation_0-aucpr:0.25110
[10]	validation_0-aucpr:0.25129

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=10, enable_categorical=False,
              eval_metric='aucpr', gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=0, monotone_constraints='()', n_estimators=100, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=42,
              reg_alpha=0, reg_lambda=1, ...)

In [164]:
from sklearn.metrics import accuracy_score, confusion_matrix
predictions = clf_xgb.predict(X_test)
accuracy_score(y_test,predictions)

0.7800692458226705

In [133]:
from sklearn.model_selection import GridSearchCV
'''
#first bit of tuning
param_grid = {
        'max_depth' : [3,4,5],
        'learning_rate' : [0.1,0.01,0.05],
        'gamma' : [0,0.25,1.0],
        'reg_lambda': [0, 1.0, 10.0],
        'scale_pos_weight' : [1,3,5]
}
'''

#second bit of tuning (comment out first tune after
#you input the optimal ranges into the second param_grid)
#FIRST TUNE SAID GAMMA OF 1, LEARNING RATE OF 0.01, MAX DEPTH OF 3, REG_LAMBDA OF 10 AND SCALE POS WEIGHT OF 1


param_grid = {
        'max_depth' : [1,2,3],
        'learning_rate' : [0.01],
        'gamma' : [1.0,1.5,2],
        'reg_lambda': [10.0,12.0,14.0],
        'scale_pos_weight' : [0.1,0.5,1]
}

#now Fitting 3 folds for each of 81 candidates, totalling 243 fits
#{'gamma': 2, 'learning_rate': 0.01, 'max_depth': 2, 'reg_lambda': 14.0, 'scale_pos_weight': 1}


param_grid = {
        'max_depth' : [2],
        'learning_rate' : [0.01],
        'gamma' : [2,2.5,3],
        'reg_lambda': [14.0,16.0,18.0],
        'scale_pos_weight' : [1,1.5]
}


#josh suggest using subsampling to prevent overfitting
#by using random subsets of the data (90%) and only random subset
#of columns (50%) per tree. 3-fold validation for speed.

optional_params = GridSearchCV(
    estimator=xgb.XGBClassifier(objective='binary:logistic',
                               seed=42,
                               subsample=0.9,
                               colsample_bytree=0.5),
    param_grid=param_grid,
    scoring='roc_auc',
    verbose=2,
    n_jobs=10,
    cv=3
)

optional_params.fit(X_train,y_train)
print(optional_params.best_params_)

Fitting 3 folds for each of 18 candidates, totalling 54 fits
{'gamma': 3, 'learning_rate': 0.01, 'max_depth': 2, 'reg_lambda': 18.0, 'scale_pos_weight': 1}

In [165]:
clf_xgb = xgb.XGBClassifier(seed=42,objective='binary:logistic',gamma=3,learning_rate=0.01,max_depth=2,
                            reg_lambda=18,scale_pos_weight=1,subsample=0.9,colsample_bytree=0.5,
                            early_stopping_rounds=10,eval_metric='aucpr')

clf_xgb.fit(X_train,y_train,verbose=True,eval_set=[(X_test,y_test)])

[0]	validation_0-aucpr:0.26211
[1]	validation_0-aucpr:0.26264
[2]	validation_0-aucpr:0.26389
[3]	validation_0-aucpr:0.26432
[4]	validation_0-aucpr:0.26724
[5]	validation_0-aucpr:0.27005
[6]	validation_0-aucpr:0.27177
[7]	validation_0-aucpr:0.27205
[8]	validation_0-aucpr:0.27186
[9]	validation_0-aucpr:0.27299
[10]	validation_0-aucpr:0.27259
[11]	validation_0-aucpr:0.27330
[12]	validation_0-aucpr:0.27316
[13]	validation_0-aucpr:0.27316
[14]	validation_0-aucpr:0.27332
[15]	validation_0-aucpr:0.27392
[16]	validation_0-aucpr:0.27372
[17]	validation_0-aucpr:0.27354
[18]	validation_0-aucpr:0.27291
[19]	validation_0-aucpr:0.27291
[20]	validation_0-aucpr:0.27340
[21]	validation_0-aucpr:0.27309
[22]	validation_0-aucpr:0.27253
[23]	validation_0-aucpr:0.27276
[24]	validation_0-aucpr:0.27221
[25]	validation_0-aucpr:0.27194

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5,
              early_stopping_rounds=10, enable_categorical=False,
              eval_metric='aucpr', gamma=3, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.01, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=2, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=42,
              reg_alpha=0, reg_lambda=18, ...)

In [166]:
predictions=clf_xgb.predict(X_test)
accuracy_score(y_test,predictions)

0.7874454312810477

In [167]:
d={"predictions": predictions,"actuals" : y_test}
result_df=pd.DataFrame(d)
result_df

       predictions  actuals
13520            0        0
2630             0        1
2830             0        0
24755            0        0
2274             0        0
...            ...      ...
15478            0        0
6945             0        1
18448            0        0
12085            0        0
1792             0        1

[6643 rows x 2 columns]

In [168]:
probs=clf_xgb.predict_proba(X_test)

In [169]:
probs[:,1]

array([0.45598122, 0.4545799 , 0.45495886, ..., 0.45560202, 0.4545799 ,
       0.4545799 ], dtype=float32)

In [192]:

df_test.astype({'product_code' : 'category','attribute_2' : 'category','attribute_3' : 'category','attribute_0' : 'category',
                 'attribute_1' : 'category'})
df_test = df_test.fillna(0)


sub_test_encoded=pd.get_dummies(df_test,columns=['product_code','attribute_0','attribute_1','attribute_2','attribute_3'])
X_encoded, sub_test_encoded = X_encoded.align(sub_test_encoded, join ='left', axis = 1)
sub_test_encoded

,loading,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,...,attribute_1_material_6,attribute_1_material_8,attribute_2_5,attribute_2_6,attribute_2_8,attribute_2_9,attribute_3_5,attribute_3_6,attribute_3_8,attribute_3_9
0,119.57,6,9,6,19.305,10.178,17.534,18.168,11.598,18.654,...,1,NaN,NaN,1,NaN,0,0,NaN,NaN,0
1,113.51,11,8,0,17.883,11.927,17.228,16.033,11.179,19.368,...,1,NaN,NaN,1,NaN,0,0,NaN,NaN,0
2,112.16,8,12,4,18.475,10.481,16.619,18.189,12.126,17.774,...,1,NaN,NaN,1,NaN,0,0,NaN,NaN,0
3,112.72,8,11,10,16.518,10.888,15.293,18.592,11.304,18.948,...,1,NaN,NaN,1,NaN,0,0,NaN,NaN,0
4,208.00,14,16,8,17.808,12.693,17.678,15.814,13.431,19.141,...,1,NaN,NaN,1,NaN,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,144.74,0,4,9,18.465,12.570,18.146,17.089,11.204,18.573,...,0,NaN,NaN,0,NaN,1,1,NaN,NaN,0
20771,74.53,4,8,7,18.900,9.896,18.288,0.000,11.747,17.917,...,0,NaN,NaN,0,NaN,1,1,NaN,NaN,0
20772,67.73,10,11,2,18.656,0.000,18.242,17.910,12.081,19.630,...,0,NaN,NaN,0,NaN,1,1,NaN,NaN,0
20773,126.15,8,16,11,16.536,11.226,18.144,17.250,12.692,19.575,...,0,NaN,NaN,0,NaN,1,1,NaN,NaN,0
20774,85.97,0,11,11,18.373,11.210,17.030,18.406,10.181,19.253,...,0,NaN,NaN,0,NaN,1,1,NaN,NaN,0

In [173]:
#sub_test_encoded
sub_test_encoded = sub_test_encoded.fillna(0)
sub_test_encoded

,loading,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,...,attribute_1_material_6,attribute_1_material_8,attribute_2_5,attribute_2_6,attribute_2_8,attribute_2_9,attribute_3_5,attribute_3_6,attribute_3_8,attribute_3_9
0,119.57,6,9,6,19.305,10.178,17.534,18.168,11.598,18.654,...,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0
1,113.51,11,8,0,17.883,11.927,17.228,16.033,11.179,19.368,...,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0
2,112.16,8,12,4,18.475,10.481,16.619,18.189,12.126,17.774,...,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0
3,112.72,8,11,10,16.518,10.888,15.293,18.592,11.304,18.948,...,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0
4,208.00,14,16,8,17.808,12.693,17.678,15.814,13.431,19.141,...,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,144.74,0,4,9,18.465,12.570,18.146,17.089,11.204,18.573,...,0,0.0,0.0,0,0.0,1,1,0.0,0.0,0
20771,74.53,4,8,7,18.900,9.896,18.288,0.000,11.747,17.917,...,0,0.0,0.0,0,0.0,1,1,0.0,0.0,0
20772,67.73,10,11,2,18.656,0.000,18.242,17.910,12.081,19.630,...,0,0.0,0.0,0,0.0,1,1,0.0,0.0,0
20773,126.15,8,16,11,16.536,11.226,18.144,17.250,12.692,19.575,...,0,0.0,0.0,0,0.0,1,1,0.0,0.0,0
20774,85.97,0,11,11,18.373,11.210,17.030,18.406,10.181,19.253,...,0,0.0,0.0,0,0.0,1,1,0.0,0.0,0

In [204]:
sub_probs=clf_xgb.predict_proba(sub_test_encoded.iloc[:,0:])
submission_df = pd.DataFrame({"id": df_test.iloc[:,0] ,"failure":sub_probs[:,1]})
submission_df

array([0, 0, 0, ..., 0, 0, 0])

In [205]:
submission_df.to_csv('submission.csv', index=False)

          id   failure
0      26570  0.455602
1      26571  0.455602
2      26572  0.455602
3      26573  0.455602
4      26574  0.462615
...      ...       ...
20770  47340  0.459091
20771  47341  0.454580
20772  47342  0.454959
20773  47343  0.455602
20774  47344  0.454580

[20775 rows x 2 columns]